.body{
    background-color: black;
}

.rounded-corners-all-around {
    border-radius: 10px;
}
.rounded-corners-line{
    border-radius: 1px;
}
.boarder-solid{
    border:1px solid;
}

.boarder-none-top{
    border-top: none
}

.boarder-gray{
    color:gray;
}

.padded-right{
    padding-right: 12px;
}
.padded-left{
    padding-left: 16px;
}
.padded-top{
    padding-top: 16px;
}
.boarder-none{
    border: none;
}
.padded-top-left{
    padding-left: 16px;
    padding-top: 16px;
}
.padded-bottom{
    padding-bottom: 16px;
}
.padded-around{
    padding:16px;
}

.boarder-bottom{
    border-bottom: 2px solid;
}

.bg-color-black{
    background-color:black;
}
.bg-color-dark-gray{
    background-color: darkgray;
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}
.float-done {
    clear: both;
}

.font-color-gray{
    color: rgb(110, 118, 125);
}
.image-size{
    height: 80px;
    width:80px;
}

.font-color-white{
    color: white;
}
.font-color-blue{
    color: rgb(29, 161, 242);
}
.font-small{
    font-size: 13px;
}
.font-middle{
    font-size: 15px;
}

.font-color-white{
    color: white;
}
.zindex-bring-to-front{
    z-index: 10;
}
.bg-color-gray{
    background-color: #343a40;
}

a{
    text-decoration: none;
}

.nav-tabs > li > a.active.override-bt {
    border-bottom-color:#1d9bf0;
    background-color: black;
    color: white;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-tabs > li > a.override-bt {
    color: #575757;
    border-top:none;
    border-left: none;
    border-right:none;
}

.nav-tabs > li > a.override-bt:hover {
    border-bottom-color:#1d9bf0;
    background-color: black;
    color: white;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

div.override-text{
    color:white;
}
span.override-text{
    color:white;
}
i.override-text{
    color:white;
}
ul.override-bd{
    border-color: black;
}
.img-size{
    height: 40px;
    width:40px;
}

.btn-primary.override-bg{
    border-color:#1d9bf0;
    background-color:#1d9bf0;
    min-width: fit-content;
}

.nav > a{
    background-color:black;
    color:white;
}

.list-group > div.override-list{
    background-color:black;
}
.list-group > div.override-bg-gray{
    background-color: #28282a;
}

div.override-bar{
    border:1px solid gray;
    border-bottom: none;
    border-top:none;
}

div.override-bar > i{
    color:#575757
}
div.override-bar > a > i{
    color:white
}

div.override-bar > a > i:hover{
    color:#1d9bf0
}

div.override-bar > input{
    background:#28282a 10%;
    color:white;
    border-color:#28282a;
    outline:none;
}

.nav > a.active.override-list{
    border-color:black;
    font-weight: bolder;
}

.btn-primary.override-bt{
    background-color: white;
    color:black;
    border-color: black;
}

.wb-explore-middle-navbar-container{
    border:1px solid gray;
    border-top: none;
}

.wb-explore-middle-posts-container{
    border:1px solid gray;
}

.wb-explore-middle-main-post{
    border-bottom:1px solid gray;
}

