/*.wb-explore-middle{*/
/*    background-color:black;*/
/*    color:gray;*/
/*    padding: 5px 12px 35px 16px;*/
/*}*/
/*.wb-search-nav-bar-container{*/
/*    border:1px solid rgb(47, 51, 54);*/
/*    color:white;*/
/*    font-size: 15px;*/
/*    padding-top: 10px;*/
/*    padding-left: 16px;*/
/*    padding-right: 12px;*/
/*}*/

/*.wb-search-bar-container {*/
/*    border:none;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.wb-search-bar {*/
/*    border: none;*/
/*    width: 90%;*/
/*    padding-left: 16px;*/
/*    padding-bottom: 10px;*/
/*    border-radius: 20px;*/
/*    background-color: #2d2c2c;*/
/*}*/

/*.wb-search-bar i {*/
/*    color:red;*/
/*    font-weight: lighter;*/
/*    padding-top: 9px;*/
/*}*/

/*.wb-search-bar input {*/
/*    background-color: #2d2c2c;*/
/*    border: none;*/
/*    color: white;*/
/*    width: 90%;*/
/*    padding-left: 10px;*/
/*    outline: none;*/
/*}*/

/*.wb-search-bar-set {*/
/*    border: none;*/
/*    font-size: 24px;*/
/*    padding-right: 12px;*/
/*}*/

/*.wb-search-bar-set .set-icon {*/
/*    color: #09bff1;*/
/*    text-decoration: none;*/
/*}*/

/*.wb-search-bar-set .set-icon:hover {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/

/*.float-done {*/
/*    clear: both;*/
/*}*/

/*.wb-nav-bar {*/
/*    padding-top: 16px;*/
/*    padding-bottom: 16px;*/
/*}*/

/*#wb-for-you {*/
/*    text-decoration:none;*/
/*    padding:16px;*/
/*    color: rgb(29, 161, 242);*/
/*    border-radius: 1px;*/
/*    border-bottom: 2px solid;*/
/*    font-weight: bolder;*/
/*}*/

/*.wb-nav-bar a {*/
/*    text-decoration:none;*/
/*    padding:16px;*/
/*    color: rgb(110, 118, 125);*/
/*    font-weight: bolder;*/
/*    font-size: 15px;*/
/*}*/

/*.wb-nav-bar a:hover {*/
/*    text-decoration:none;*/
/*    padding:16px;*/
/*    color: rgb(29, 161, 242);*/
/*    font-weight: bolder;*/
/*}*/

/*.padded-around{*/
/*    padding:16px;*/
/*}*/

/*.wb-thematic-break {*/
/*    border-top: 3px solid;*/
/*    border-bottom: 2px solid;*/
/*    color:gray;*/
/*    background-color: #2d2c2c;*/
/*}*/

/*.wb-post-photos {*/
/*    border:1px solid rgb(47, 51, 54);*/
/*    color:white;*/
/*    padding-left:16px;*/
/*    padding-top: 16px;*/
/*    padding-bottom: 10px;*/
/*}*/

/*.wb-post {*/
/*    border:1px solid rgb(47, 51, 54);*/
/*    color:white;*/
/*    padding-left:16px;*/
/*    padding-top: 0;*/
/*    padding-bottom: 10px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    border-top: none;*/
/*}*/

/*.wb-post-left {*/
/*    border: none;*/
/*    padding-top: 10px;*/
/*}*/

/*.wb-yesterday {*/
/*    color: rgb(110, 118, 125);*/
/*}*/

/*.wb-post-right {*/
/*    float: right;*/
/*    padding-right: 12px;*/
/*    border: none;*/
/*    padding-top: 0;*/
/*}*/

/*.wb-post-right a{*/
/*    text-decoration: none;*/
/*    color: rgb(110, 118, 125);*/
/*    font-size: 17px;*/
/*}*/

/*.wb-post-right a:hover{*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    font-size: 17px;*/
/*}*/

/*.wb-post-topic {*/
/*    color: rgb(110, 118, 125);*/
/*    font-size: 13px;*/
/*}*/

/*.wb-title-user {*/
/*    color: white;*/
/*}*/

/*.wb-post-tuits-number {*/
/*    color: gray;*/
/*    font-size: 13px;*/
/*}*/

/*.wb-title {*/
/*    color: white;*/
/*    font-size: 15px;*/
/*}*/

/*.wb-post-author {*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*}*/

/*.wb-logo {*/
/*    float: left;*/
/*    padding-right: 8px;*/
/*}*/

/*.wb-logo img {*/
/*    height: 15px;*/
/*    width: 15px;*/
/*    border-radius: 50%;*/
/*}*/

/*.wb-author-name i{*/
/*    padding-left: 8px;*/
/*}*/

/*.wb-author-name a{*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    padding-right: 5px;*/
/*}*/

/*.wb-right-picture {*/
/*    float:right;*/
/*    padding-right: 16px;*/
/*}*/

/*.wb-picture {*/
/*    float: right;*/
/*    border-radius: 10px;*/
/*    height: 100px;*/
/*    width:100px;*/
/*}*/

/**
<div dir="auto" class="css-901oao r-1nao33i r-xoduu5 r-18u37iz r-1q142lx r-37j5jr r-a023e6 r-16dba41 r-rjixqe r-bcqeeo r-qvutc0"><svg viewBox="0 0 24 24" aria-label="Verified account" role="img" class="r-13v1u17 r-4qtqp9 r-yyyyoo r-1xvli5t r-9cviqr r-f9ja8p r-og9te1 r-bnwqim r-1plcrui r-lrvibr"><g><path d="M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z"></path></g></svg></div>
 */

/**
<svg viewBox="0 0 24 24" aria-label="Verified account" role="img" class="r-13v1u17 r-4qtqp9 r-yyyyoo r-1xvli5t r-9cviqr r-f9ja8p r-og9te1 r-bnwqim r-1plcrui r-lrvibr"><g><path d="M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z"></path></g></svg>
 */

.body{
    background-color: black;
}

.rounded-corners-all-around {
    border-radius: 10px;
}
.rounded-corners-line{
    border-radius: 1px;
}
.boarder-solid{
    border:1px solid;
}

.boarder-none-top{
    border-top: none
}

.boarder-gray{
    color:gray;
}

.padded-right{
    padding-right: 12px;
}
.padded-left{
    padding-left: 16px;
}
.padded-top{
    padding-top: 16px;
}
.boarder-none{
    border: none;
}
.padded-top-left{
    padding-left: 16px;
    padding-top: 16px;
}
.padded-bottom{
    padding-bottom: 16px;
}
.padded-around{
    padding:16px;
}

.boarder-bottom{
    border-bottom: 2px solid;
}

.bg-color-black{
    background-color:black;
}
.bg-color-dark-gray{
    background-color: darkgray;
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}
.float-done {
    clear: both;
}

.font-color-gray{
    color: rgb(110, 118, 125);
}
.image-size{
    height: 80px;
    width:80px;
}

.font-color-white{
    color: white;
}
.font-color-blue{
    color: rgb(29, 161, 242);
}
.font-small{
    font-size: 13px;
}
.font-middle{
    font-size: 15px;
}

.font-color-white{
    color: white;
}
.zindex-bring-to-front{
    z-index: 10;
}
.bg-color-gray{
    background-color: #343a40;
}

a{
    text-decoration: none;
}

.nav-tabs > li > a.active.override-bt {
    border-bottom-color:#1d9bf0;
    background-color: black;
    color: white;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-tabs > li > a.override-bt {
    color: #575757;
    border-top:none;
    border-left: none;
    border-right:none;
}

.nav-tabs > li > a.override-bt:hover {
    border-bottom-color:#1d9bf0;
    background-color: black;
    color: white;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

div.override-text{
    color:white;
}
span.override-text{
    color:white;
}
i.override-text{
    color:white;
}
ul.override-bd{
    border-color: black;
}
.img-size{
    height: 40px;
    width:40px;
}

.btn-primary.override-bg{
    border-color:#1d9bf0;
    background-color:#1d9bf0;
    min-width: fit-content;
}

.nav > a{
    background-color:black;
    color:white;
}

.list-group > div.override-list{
    background-color:black;
}
.list-group > div.override-bg-gray{
    background-color:black;
}

div.override-bar{
    border:1px solid gray;
    border-bottom: none;
    border-top:none;
}

div.override-bar > i{
    color:#575757
}
div.override-bar > a > i{
    color:white
}

div.override-bar > a > i:hover{
    color:#1d9bf0
}

div.override-bar > input{
    background:#202327 10%;
    color:white;
    border-color:#202327;
    outline:none;
}

.wb-explore-middle-navbar-container{
    border:1px solid gray;
    border-top: none;
}

.wb-explore-middle-posts-container{
    border:1px solid gray;
}

.wb-explore-middle-main-post{
    border-bottom:1px solid gray;
}

.nav > a.active.override-list{
    border-color:black;
    font-weight: bolder;
}

.btn-primary.override-bt{
    background-color: white;
    color:black;
    border-color: black;
}


