.rotate-paragraph {
    width: 250px;
    height: 250px;
    transform: rotate(90deg);
}

.rotate-list {
    transform: rotate(12deg);
    width: 100px;
    background-color: red;
    color: white;
}

.rotate-list-items li {
    width: 100px;
    text-align: right;
}
.rotate-list-items li:nth-child(1) {
    transform: rotate(-10deg);
    background-color: yellow;
}
.rotate-list-items li:nth-child(2) {
    transform: rotate(2deg);
    background-color: blue;
    color: white;
}
.rotate-list-items li:nth-child(3) {
    transform: rotate(10deg);
    background-color: red;
}

.rotate-image {
    transform: rotate(-10deg);
}

.rotate-table {
    position: relative;
    left: 50px;
    transform: rotate(15deg);}
.rotate-table tr:nth-child(1) {
    background-color: black;
    color: white;}
.rotate-table tr:nth-child(n+2) {
    background-color: yellow;}
.rotate-table tr:nth-child(n+5) {
    background-color: blue;
    color: white;}
.rotate-table tr:nth-child(n+8) {
    background-color: red;}
.rotate-table tr:nth-child(n+11) {
    background-color: green;
    color: white;
}

.gradients-linear {
    background: linear-gradient(yellow, red);
    width: 200px;
    height: 200px;
    font-size: 14px;
}

.gradients-radial {
    background: radial-gradient(yellow, green);
    width: 200px;
    height: 200px;
    font-size: 14px;
}

.gradients-positioned {
    background:
            radial-gradient(
                    at top left, blue, red);
    width: 200px;
    height: 200px;
    color: white;
    font-size: 14px;
}

.animation-keyframes {
    position: relative;
    top: 0px;
    animation-duration: 7s;
    animation-name: slidein;
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    font-size: 14px;
}

@keyframes slidein {
    from {
        position: relative;
        top: 0px;
        font-size: 100%;
        margin-left: 100%;
        width: 200px;
        height: 200px;
        background-color: yellow;
        color: black;
    } /* continued on right */
    50% {
        position: relative;
        top: -200px;
        font-size: 300%;
        margin-left: 25%;
        width: 400px;
        height: 400px;
        background-color: blue;
        color: white;
    }

    to {
        position: relative;
        top: 0px;
        font-size: 100%;
        margin-left: 0%;
        width: 200px;
        height: 200px;
        background-color: red;
        color: white;
    }
}

.flex-container {
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

.flex-box {
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}

.flex-box-1 {
    background-color: yellow;
}

.flex-box-2 {
    background-color: blue;
    color: white;
}

.flex-box-3 {
    background-color: red;
    color: white;
}

.flex-container {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
}

.flex-container-center {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
}

.flex-container-end {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: end;
}

.flex-container-space-around {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: space-around;
}

.flex-container-space-between {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: space-between;
}

.flex-container-flex-start {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.flex-container-center {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-container-basis{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    /*justify-content: space-evenly;*/
    /*align-items: center;*/
}
.flex-container-basis>.flex-box{
    flex-basis: 100%;
}

@media (min-width: 0px)
and (max-width: 600px) {
    body {
        background-color: yellow;
    }
    .media-query {
        background-color: red;
        color: white;
    }
}
@media (min-width: 600px)
and (max-width: 1200px) {
    body {
        background-color: blue;
        color: white;
    }
    .media-query {
        background-color: yellow;
        color: black;
    }
}
@media (min-width: 1200px)
and (max-width: 1800px) {
    body {
        background-color: red;
        color: white;
    }
    .media-query {
        background-color: blue;
        color: white;
    }
}

@media (min-width: 0px)
and (max-width: 500px) {
    body{
        background-color: yellow;
    }
    .media-example {
        background-color: red;
        color: white;
    }
}

@media (min-width: 500px)
and (max-width: 1000px) {
    body {
        background-color: #e7e5a5;
        color: #1c1b1b;
    }
    .media-example {
        background-color: #da0c0c;
        color: white;
    }
}

@media (min-width: 1000px)
and (max-width: 1500px) {
    body {
        background-color: #2e8f98;
        color: #5d230b;
    }
    .media-example {
        background-color: #e18c8c;
        color: #1c3f96;
    }
}
